source/.gradle/
source/build/
source/buildSrc/.gradle/
source/buildSrc/build/
source/common/build/
source/fabric/build/
source/forge/build/
source/forge/run/
source/forge/run-data/
.gradle-cache/
benchmarks/local/
artifacts/*.jar
artifacts/*.zip
__pycache__/
*.pyc

compat/opengl-texture-lookup/.gradle/
compat/opengl-texture-lookup/build/
compat/opengl-texture-lookup/test-out/

/compat/fieldguide-query-split/.gradle/
/compat/fieldguide-query-split/build/
/compat/fieldguide-query-split/test-out/

/compat/opengl-over-vulkan/build/
/integration/dimensions/__pycache__/

benchmarks/control-forge/build/
benchmarks/control-forge/.gradle/

compat/grass-distance-sort/build/
compat/grass-distance-sort/.gradle/
compat/grass-distance-sort/test-out/
benchmarks/pack-control-forge/build/
benchmarks/pack-control-forge/.gradle/
compat/trender-scissor/build/
compat/trender-scissor/.gradle/
compat/trender-scissor/__pycache__/
